body {
        background: url("/img/ssmcover.png") no-repeat top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-attachment: fixed;
    }

.container {
    width: 100%;
    height: 600px;
    margin: 0 auto;
    overflow: hidden; 
    font-family: 'Amatic SC', cursive;
    text-shadow: 3px 3px 7px white;
}
.header {
    margin-top: 3.8%;
    text-align: center;
}

h1 {
    font-size: 3.6em;
    margin-left: 1.3%;
}
h3 {
    font-size: 2em;
}


.offer-row-1 .offer-row-2 {
    width: 60%;
    text-align: center;
    display: inline;
    position: relative;
}
.create {
    position: absolute;
    top: 10em;
    left: 30%;
    display: inline-block;
    width: 150px;
    height: 75px;
    margin: 10px;
}

.design {
    position: absolute;
    top: 10em;
    right: 30%;
    display: inline-block;
    margin: 10px;    
}

.build {
    position: absolute;
    top: 25em;
    left: 30%;
    display: inline-block;
    margin: 10px;
}

.media {
    position: absolute;
    top: 25em;
    right: 30%;
    display: inline-block;
    margin-left: 30%;
    margin: 10px;
}

.coming {
    position: relative;
    margin-top: 31%;
    text-align: center;
}
h2{
    width:60%;
    margin: 0 auto;

}

